doctype html
html(lang="en")
	head
		title start-static-pug
		meta(charset="UTF-8")
	body
		include template/_header.pug
		include template/_index-content.pug
		include template/_footer.pug
		include template/_footer-links.pug